.content {
  max-height: 95vh;
  overflow-y: auto;
  max-width: 90vw;
  min-width: 75vw;
  box-sizing: border-box;
  padding: 40px;
  margin-left: 20vw;
  min-width: 220px;
  width: calc(80vw - 5vw);
}

.content h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.task-card {
  background-color: #FFF;
  border: 1px solid #DDD;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  margin-right: 0.05vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.task-card .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.task-card h2 {
  font-size: 20px;
  font-weight: bold;
}

.task-card .tag {
  background-color: #BD8B13;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
}

.task-card ul {
  border-top: 1px solid #000000;
  list-style: none;
}

.task-card ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 16px;
  vertical-align: bottom;
}

.task-card ul li input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
  -webkit-transform: scale(1.3);
}

.task-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.task-content span {
  flex-grow: 1;
  text-align: left;
}

.task-content .button {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 5px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 8px;
  flex-shrink: 0;
}