.sidebar {
  width: 20%;
  min-width: 200px;
  background-color: #154734;
  color: white;
  padding: 2%;
  padding-top: 2vh;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

.sidebar h2 {
  margin-bottom: 10vh;
  font-size: 36px;
}

.sidebar a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 15px 0;
  font-size: 30px;
}

.sidebar a.active {
  text-decoration: underline;
}